.formulario {
    align-items: center;
    display: flex;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 5%;
    width: 80%;
    border: 5px solid black;
    border-radius: 30px;
    background-color: white;
    height: 80%;
    flex-direction: column;

    
}
.formulario input,textarea{
    width: 40%;
    padding: 8px;
    margin-bottom: 2%;
    box-sizing: border-box;

}
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5%;
}
button:hover{
    transform: scale(1.1);
}